In [11]:
data.to_csv('tempdata.csv', encoding='utf_8_sig', index=0)

In [3]:
import pandas as pd

data = pd.read_csv('tempdata.csv')

In [7]:
for i in range(1102):
    link = data.iloc[i]['link']
    type = data.iloc[i]['type']
    id = data.iloc[i]['id']

    if type=='txt':
        data.loc[i,'type']='html'

In [9]:
data.groupby('type').count()

       id   sn  sn_2  date  title  link  reason  basis  result
type
html  425  308     1     0    425   425     404    404     404
img   653  625     0     0    653   653       0      0       0
pdf    24   22     0     0     24    24       0      0       0

In [10]:
data.loc[809,'type'] = 'doc'