In [21]:
import pandas as pd

data = pd.read_csv('tempdata.csv')

In [22]:
data

,id,sn,sn_2,date,title,link,reason,basis,result,type
0,0,NaN,NaN,NaN,关于对中国U19国家男子足球队球员陶强龙、刘祝润、彭号、任丽昊、韩东、何龙海违规违纪的处罚决定,http://www.thecfa.cn/cftz/20200606/28670.html,"[<div class=""news_right_list"">\r\n<p>\r\n<stro...",依据《中国足球协会纪律准则》第八十条及《各级国家足球队运动员管理规定实施细则》相关规定，作出...,：</p>\r\n<p>\r\n\t 一、取消陶强龙、刘祝润、彭号、任丽昊、韩东、何龙海等...,txt
1,1,NaN,NaN,NaN,关于对广州富力足球俱乐部队官员斯托伊科维奇违规违纪的处罚决定,http://www.thecfa.cn/cftz/20191105/28428.html,"[<div class=""news_right_list"">\r\n<p>\r\n<stro...",依据《中国足球协会纪律准则》第八十二条之规定，作出如下处罚,：</p>\r\n<p>\r\n\t 一、禁止广州富力足球俱乐部队官员斯托伊科维奇进入体育...,txt
2,2,NaN,NaN,NaN,关于对天津泰达足球俱乐部U19队球员赵研博违规违纪的处罚决定,http://www.thecfa.cn/cftz/20191105/28427.html,"[<div class=""news_right_list"">\r\n<p>\r\n<stro...",依据《中国足球协会纪律准则》第五十三条、第四十八条及第一百零八条之规定，在自然停赛基础上追加...,：</p>\r\n<p>\r\n\t 对天津泰达足球俱乐部U19队13号球员赵研博予以停赛...,txt
3,3,NaN,NaN,NaN,关于对淄博蹴鞠足球俱乐部队球员张丰羽违规违纪的处罚决定,http://www.thecfa.cn/cftz/20191024/28426.html,"[<div class=""news_right_list"">\r\n<p>\r\n<stro...",依据《中国足球协会纪律准则》第五十三条及第一百零八条之规定，在自然停赛基础上追加如下处罚,：</p>\r\n<p>\r\n\t 一、对淄博蹴鞠足球俱乐部队19号球员张丰羽予以停赛3...,txt
4,4,NaN,NaN,NaN,关于对四川优必选足球俱乐部队球员耿晓顺违规违纪的处罚决定,http://www.thecfa.cn/cftz/20191024/28425.html,"[<div class=""news_right_list"">\r\n<p>\r\n<stro...",依据《中国足球协会纪律准则》第五十三条及第一百零八条之规定，在自然停赛基础上追加如下处罚,：</p>\r\n<p>\r\n\t 一、对四川优必选足球俱乐部队2号球员耿晓顺予以停赛3...,txt
...,...,...,...,...,...,...,...,...,...,...
1097,1097,足纪字[2004]28号,NaN,NaN,关于对2004西门子移动中超联赛中违规违纪行为的处罚决定,http://www.thecfa.cn/cftz/20041227/8305.html,"[<div class=""news_right_list"">\r\n<p><strong>足...",依据《全国足球比赛赛区安全秩序规定》第二章第九条、第十条和第三章第十七条及《中国足球协会纪律...,：<br/>一、 给予大连实德赛区警告处罚，并罚款人民币15000元；<br/>二、 给予大...,txt
1098,1098,足纪字[2004]29号,NaN,NaN,关于对南京有有足球俱乐部运动员胡云峰违规违纪行为的处罚决定,http://www.thecfa.cn/cftz/20041227/8304.html,"[<div class=""news_right_list"">\r\n<p><strong>足...",依据《中国足球协会纪律处罚办法》第十五条之规定,，给予南京有有足球俱乐部华门有有队23号运动员胡云峰停赛4场（中甲联赛第25、26、28、2...,txt
1099,1099,足纪字[2004]33号,NaN,NaN,对04中超联赛中违规违纪行为的处罚决定,http://www.thecfa.cn/cftz/20041227/8303.html,"[<div class=""news_right_list"">\r\n<p align=""ri...",依据《全国足球比赛赛区安全秩序规定》第十七条之规定，对天津泰达赛区做出如下处罚,：</p>\r\n<p> 一、 对天津泰达赛区提出警告；</p>\r\n<p> ...,txt
1100,1100,足纪字[2004]37号,NaN,NaN,对甘肃天马队李维良违规违纪的处罚决定,http://www.thecfa.cn/cftz/20041227/8302.html,"[<div class=""news_right_list"">\r\n<p align=""ri...",依据《中国足球协会纪律处罚办法》第十四条、第十八条之规定,，给予东莞东城队7号运动员李维良停赛4场（2004年中甲联赛第30、32、33、34轮），罚...,txt
1101,1101,足纪字[2004]21号,NaN,NaN,关于2004蓝带中国足协杯赛中违规违纪的处罚决定,http://www.thecfa.cn/cftz/20041227/8301.html,"[<div class=""news_right_list"">\r\n<p align=""ri...",根据《中国足球协会纪律处罚办法》第十一条、第十四条和第十八条规定，做出如下处罚,"：</p>\r\n<p align=""left""> 一、 对上海申花SVA文广足球俱乐部提...",txt

In [23]:
data.groupby(['type']).count()

       id   sn  sn_2  date  title  link  reason  basis  result
type
img   652  625     0     0    652   652       0      0       0
pdf    29   23     1     0     29    29       0      0       0
txt   421  307     0     0    421   421     404    404     404

In [24]:
count = 0
for i in range(1102):
    link = data.iloc[i]['link']
    type = data.iloc[i]['type']
    id = data.iloc[i]['id']
    if type == 'pdf':
        print(id, link)
        count += 1

29 http://www.thecfa.cn/cftz/20190717/27688.html
30 http://www.thecfa.cn/cftz/20190712/27666.html
31 http://www.thecfa.cn/cftz/20190712/27665.html
75 http://www.thecfa.cn/cftz/20190228/26415.html
158 http://www.thecfa.cn/cftz/20180419/22951.html
750 http://www.thecfa.cn/cftz/20140430/7972.html
751 http://www.thecfa.cn/cftz/20140430/7973.html
752 http://www.thecfa.cn/cftz/20140425/7974.html
753 http://www.thecfa.cn/cftz/20140425/7975.html
754 http://www.thecfa.cn/cftz/20140425/7976.html
755 http://www.thecfa.cn/cftz/20140425/7977.html
756 http://www.thecfa.cn/cftz/20140425/7978.html
757 http://www.thecfa.cn/cftz/20140425/7979.html
758 http://www.thecfa.cn/cftz/20140425/7980.html
759 http://www.thecfa.cn/cftz/20140425/7981.html
760 http://www.thecfa.cn/cftz/20140425/7982.html
761 http://www.thecfa.cn/cftz/20140425/7983.html
762 http://www.thecfa.cn/cftz/20140418/7985.html
763 http://www.thecfa.cn/cftz/20140418/7984.html
764 http://www.thecfa.cn/cftz/20140418/7986.html
766 http://www.thecfa.cn/cftz/20140411/7988.html
767 http://www.thecfa.cn/cftz/20140404/7989.html
768 http://www.thecfa.cn/cftz/20140328/7990.html
769 http://www.thecfa.cn/cftz/20140328/7991.html
770 http://www.thecfa.cn/cftz/20140328/7992.html
771 http://www.thecfa.cn/cftz/20140328/7993.html
772 http://www.thecfa.cn/cftz/20140321/7994.html
809 http://www.thecfa.cn/cftz/20130517/8033.html
819 http://www.thecfa.cn/cftz/20130218/8043.html

In [26]:
typelist = [29, 30,31,75]
for i in typelist:
    data.loc[i,'type'] = 'txt'
data.loc[158,'type'] = 'img'

In [27]:
data.groupby(['type']).count()

       id   sn  sn_2  date  title  link  reason  basis  result
type
img   653  625     0     0    653   653       0      0       0
pdf    24   22     0     0     24    24       0      0       0
txt   425  308     1     0    425   425     404    404     404

In [28]:
23+1+425+653

1102

In [30]:
data.to_csv('tempdata.csv', encoding='utf_8_sig', index=0)