In [29]:
# data.to_csv('pdpage_ocr.csv', encoding='utf_8_sig', index=0)

In [42]:
import pandas as pd
import numpy as np

# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)
pd.reset_option("display.max_columns")
pd.reset_option("display.max_rows")

data = pd.read_csv('pddata_titlefix.csv')

In [43]:
newdata = pd.DataFrame()

In [44]:
newdata['id'] = data['id']

In [45]:
newdata['sn'] = np.nan
newdata['date'] = np.nan

In [46]:
newdata['title'] = data['title']

In [47]:
newdata

        id  sn  date                                            title
0        0 NaN   NaN  关于对中国U19国家男子足球队球员陶强龙、刘祝润、彭号、任丽昊、韩东、何龙海违规违纪的处罚决定
1        1 NaN   NaN                   关于对广州富力足球俱乐部队官员斯托伊科维奇违规违纪的处罚决定
2        2 NaN   NaN                   关于对天津泰达足球俱乐部U19队球员赵研博违规违纪的处罚决定
3        3 NaN   NaN                      关于对淄博蹴鞠足球俱乐部队球员张丰羽违规违纪的处罚决定
4        4 NaN   NaN                     关于对四川优必选足球俱乐部队球员耿晓顺违规违纪的处罚决定
...    ...  ..   ...                                              ...
1097  1097 NaN   NaN                     关于对2004西门子移动中超联赛中违规违纪行为的处罚决定
1098  1098 NaN   NaN                    关于对南京有有足球俱乐部运动员胡云峰违规违纪行为的处罚决定
1099  1099 NaN   NaN                              对04中超联赛中违规违纪行为的处罚决定
1100  1100 NaN   NaN                               对甘肃天马队李维良违规违纪的处罚决定
1101  1101 NaN   NaN                         关于2004蓝带中国足协杯赛中违规违纪的处罚决定

[1102 rows x 4 columns]

In [51]:
data[['page','type']]

                                                   page type
0     [<div class="news_right_list">\r\n<p>\r\n<stro...  txt
1     [<div class="news_right_list">\r\n<p>\r\n<stro...  txt
2     [<div class="news_right_list">\r\n<p>\r\n<stro...  txt
3     [<div class="news_right_list">\r\n<p>\r\n<stro...  txt
4     [<div class="news_right_list">\r\n<p>\r\n<stro...  txt
...                                                 ...  ...
1097  [<div class="news_right_list">\r\n<p><strong>足...  txt
1098  [<div class="news_right_list">\r\n<p><strong>足...  txt
1099  [<div class="news_right_list">\r\n<p align="ri...  txt
1100  [<div class="news_right_list">\r\n<p align="ri...  txt
1101  [<div class="news_right_list">\r\n<p align="ri...  txt

[1102 rows x 2 columns]

In [55]:
import re

In [82]:
pattern = '足纪字.*号'

for i in range(1102):
    
    id = data.iloc[i]['id']
    
    type = data.iloc[i]['type']
    
    page = data.iloc[i]['page']
    
    if type=='txt':
        result = re.search(pattern, page)
        if result:
            text = result.group(0)
            if '（' in text: text = text.replace('（','[')
            if '）' in text: text = text.replace('）',']')
            if '〔' in text: text = text.replace('〔','[')
            if '〕' in text: text = text.replace('〕',']')
            if '﹝' in text: text = text.replace('﹝','[')
            if '﹞' in text: text = text.replace('﹞',']')
            
            if '(' in text: text = text.replace('(','[')
            if ')' in text: text = text.replace(')',']')
                 
                
            newdata.loc[i, 'sn'] = text

In [83]:
newdata

,id,sn,date,title
0,0,NaN,NaN,关于对中国U19国家男子足球队球员陶强龙、刘祝润、彭号、任丽昊、韩东、何龙海违规违纪的处罚决定
1,1,NaN,NaN,关于对广州富力足球俱乐部队官员斯托伊科维奇违规违纪的处罚决定
2,2,NaN,NaN,关于对天津泰达足球俱乐部U19队球员赵研博违规违纪的处罚决定
3,3,NaN,NaN,关于对淄博蹴鞠足球俱乐部队球员张丰羽违规违纪的处罚决定
4,4,NaN,NaN,关于对四川优必选足球俱乐部队球员耿晓顺违规违纪的处罚决定
...,...,...,...,...
1097,1097,足纪字[2004]28号,NaN,关于对2004西门子移动中超联赛中违规违纪行为的处罚决定
1098,1098,足纪字[2004]29号,NaN,关于对南京有有足球俱乐部运动员胡云峰违规违纪行为的处罚决定
1099,1099,足纪字[2004]33号,NaN,对04中超联赛中违规违纪行为的处罚决定
1100,1100,足纪字[2004]37号,NaN,对甘肃天马队李维良违规违纪的处罚决定
1101,1101,足纪字[2004]21号,NaN,关于2004蓝带中国足协杯赛中违规违纪的处罚决定

In [85]:
# newdata.to_csv('tempdata.csv', encoding='utf_8_sig', index=0)

In [86]:
newdata['sn_2'] = np.nan

In [87]:
newdata

,id,sn,date,title,sn_2
0,0,NaN,NaN,关于对中国U19国家男子足球队球员陶强龙、刘祝润、彭号、任丽昊、韩东、何龙海违规违纪的处罚决定,NaN
1,1,NaN,NaN,关于对广州富力足球俱乐部队官员斯托伊科维奇违规违纪的处罚决定,NaN
2,2,NaN,NaN,关于对天津泰达足球俱乐部U19队球员赵研博违规违纪的处罚决定,NaN
3,3,NaN,NaN,关于对淄博蹴鞠足球俱乐部队球员张丰羽违规违纪的处罚决定,NaN
4,4,NaN,NaN,关于对四川优必选足球俱乐部队球员耿晓顺违规违纪的处罚决定,NaN
...,...,...,...,...,...
1097,1097,足纪字[2004]28号,NaN,关于对2004西门子移动中超联赛中违规违纪行为的处罚决定,NaN
1098,1098,足纪字[2004]29号,NaN,关于对南京有有足球俱乐部运动员胡云峰违规违纪行为的处罚决定,NaN
1099,1099,足纪字[2004]33号,NaN,对04中超联赛中违规违纪行为的处罚决定,NaN
1100,1100,足纪字[2004]37号,NaN,对甘肃天马队李维良违规违纪的处罚决定,NaN
1101,1101,足纪字[2004]21号,NaN,关于2004蓝带中国足协杯赛中违规违纪的处罚决定,NaN

In [110]:
pattern = '足纪字.*?号'

for i in range(1102):
    
    id = data.iloc[i]['id']
    
    type = data.iloc[i]['type']
    
    ocr = data.iloc[i]['ocr']
    
    if type=='img':
        result = re.search(pattern, ocr)
        if result:
#             print(result)
            text = result.group(0)
            if '（' in text: text = text.replace('（','[')
            if '）' in text: text = text.replace('）',']')
            if '〔' in text: text = text.replace('〔','[')
            if '〕' in text: text = text.replace('〕',']')
            if '﹝' in text: text = text.replace('﹝','[')
            if '﹞' in text: text = text.replace('﹞',']')
            
            if '(' in text: text = text.replace('(','[')
            if ')' in text: text = text.replace(')',']')
                 
                
            newdata.loc[i, 'sn'] = text
#             print(id, text, newdata.loc[i, 'sn'])

In [111]:
newdata

,id,sn,date,title,sn_2
0,0,NaN,NaN,关于对中国U19国家男子足球队球员陶强龙、刘祝润、彭号、任丽昊、韩东、何龙海违规违纪的处罚决定,NaN
1,1,NaN,NaN,关于对广州富力足球俱乐部队官员斯托伊科维奇违规违纪的处罚决定,NaN
2,2,NaN,NaN,关于对天津泰达足球俱乐部U19队球员赵研博违规违纪的处罚决定,NaN
3,3,NaN,NaN,关于对淄博蹴鞠足球俱乐部队球员张丰羽违规违纪的处罚决定,NaN
4,4,NaN,NaN,关于对四川优必选足球俱乐部队球员耿晓顺违规违纪的处罚决定,NaN
...,...,...,...,...,...
1097,1097,足纪字[2004]28号,NaN,关于对2004西门子移动中超联赛中违规违纪行为的处罚决定,NaN
1098,1098,足纪字[2004]29号,NaN,关于对南京有有足球俱乐部运动员胡云峰违规违纪行为的处罚决定,NaN
1099,1099,足纪字[2004]33号,NaN,对04中超联赛中违规违纪行为的处罚决定,NaN
1100,1100,足纪字[2004]37号,NaN,对甘肃天马队李维良违规违纪的处罚决定,NaN
1101,1101,足纪字[2004]21号,NaN,关于2004蓝带中国足协杯赛中违规违纪的处罚决定,NaN

In [112]:
newdata.to_csv('tempdata.csv', encoding='utf_8_sig', index=0)